:root {
  --light-yellow: lightyellow;
  --light-blue: powderblue;
  --light-pink: lightpink;
  --light-tan: tan;
}

div {
  font-family: 'Balthazar', serif;
  background-color: var(--light-yellow);
}
